body {
  background-color: #000000;
}
#gameName{
  font-size: xx-large;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #8D3DAF; */
  background-color: #000000;
}
.icon {
  font-size: 25px;
  color: #FFFFFF;
}
